<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AluOgrade</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1 class="text-center my-4">Ograde</h1>

      <!-- Forma za pretragu -->
      <form class="mb-4" action="/ograde" method="get">
        <div class="input-group">
          <input type="text" class="form-control" name="keyword" placeholder="Search by name" th:value="${keyword}">
          <button type="submit" class="btn btn-primary">Pretraži</button>
        </div>
      </form>

      <!-- Dugmad za sortiranje i kreiranje proizvoda poravnati -->
      <div class="d-flex justify-content-between mb-4">
        <!-- Dugme za kreiranje -->
        <a class="btn btn-primary" href="/ograde/create">Dodaj Proizvod</a>

        <!-- Dugmad za sortiranje -->
        <div>
          <a class="btn btn-secondary me-2" href="/ograde?sort=asc">Sortiraj uzlazno</a>
          <a class="btn btn-secondary" href="/ograde?sort=desc">Sortiraj silazno</a>
        </div>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Naziv</th>
            <th>Kategorija</th>
            <th>Cena</th>
            <th>Količina</th>
            <th>Slika</th>
            <th>Kreirano</th>
            <th>Akcije</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="ograda : ${ograde}">
            <td th:text="${ograda.id}"></td>
            <td th:text="${ograda.name}"></td>
            <td th:text="${ograda.category}"></td>
            <td th:text="@{${ograda.price} + '$'}"></td>
            <td th:text="${ograda.amount}"></td>
            <td>
              <img th:src="@{'/images/' + ${ograda.imageFileName}}" alt="..." width="100">
            </td>
            <td th:text="${ograda.createdAt.toString().substring(0,10)}"></td>
            <td style="white-space:nowrap">
              <a class="btn btn-primary btn-sm" th:href="@{/ograde/edit(id=${ograda.id})}">Izmeni</a>
              <a class="btn btn-danger btn-sm" th:href="@{/ograde/delete(id=${ograda.id})}" onclick="return confirm('Are you sure?')">Obriši</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ZBzs2PoB43Sb0rhHdoAhMScjN7MJ9icqPH+p0/jn4MkZHvZbsUB1YtnP0nEJzbh7" crossorigin="anonymous"></script>
  </body>
</html>
